// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$shop_primary: #f69c25;
$shop_secondary: #2c2d2d;

$shop_light_gray: #f8f8f8;

$shop_shadow_light: #d8d8d8;

$shop_error: #e23d48;
$shop_info: #006877;
$shop_success: #96bb2f;
$shop_warning: #a51e22;
